:root {
  --basecolor: #000000;
  --background: #E6E6E6;
  --color: #FFF;
  --color2: #000;

}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  ;

}

.title {
  text-align: center;
}

.Card_expan_bg {
  background-color: #3333335f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;


}

@keyframes slideIn {
  0% {
    transform: translateY(100%);

  }

  50% {
    transform: translateY(-2%);

  }

  100% {
    transform: translateY(0);

  }
}

.Card_expan {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 60px 60px 0 0px;
  animation: slideIn 1s ease-in-out alternate;
  z-index: 1000;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.hideModal {
  animation: slideOut 1s ease-in-out !important;
}

.Card_expan_btn {


  width: 40px;
  height: 40px;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 30px;

}

.Card_expan_title {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Card_expan_btnlef {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  align-items: center;
  padding-left: 20px;
}

.Card_expan_btn:hover {
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
}

.Card {
  width: 141px;
  height: 320px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

}

.Card:hover {

  scale: 1.01;
}

.Card_Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Card_img_content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Card_Content img {
  width: 120px;
  height: 120px;
  object-fit: cover;

}

.Card p,
.Card h1 {
  margin: 12px 0 12px 0;
}

.Card_title {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
}

.Card_description {
  font-size: 16px;
  color: #CBCBCB;
}

.Card_price {
  font-size: 16px;
  font-weight: bold;
}

.Card_expan_list {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
}

.Card_expan_list li {
  padding: 20px;
}

.Card_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Card_agg {
  width: 30px;
  height: 30px;
  display: flex;
  background: #000;
  border-radius: 30px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Card_agg:hover {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}

.navegation {
  height: 70px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.51, -0.25, 0.5, 1.3);



}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);

  }

  100% {
    transform: translateX(100%);

  }
}

.navegation__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 13px;
  background: #DDD;
  margin: 3%;
  box-shadow: 4px 1px 7px 0px rgba(18, 1, 1, 0.10);


}

.navegation__link:hover {
  background: var(--basecolor);
  ;
  color: #FFF;
  box-shadow: 4px 1px 7px 0px rgba(18, 1, 1, 0.10);
}

.navegation__link.active {
  background: var(--basecolor);
  ;
  color: #FFF;

  box-shadow: 4px 1px 7px 0px rgba(18, 1, 1, 0.10);

}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: black;
  border-radius: 50%;

}

.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.order_content {
  width: 100%;
  height: 100%;


}

.order_products {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  margin-top: 20px;
  align-items: center;
  height: 150px;
  margin-bottom: 30px;
  justify-content: center;

}

.order_img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.order_header {
  margin-left: 30px;
  width: 120px;
  height: 80px;
}

.order_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  gap: 20px;

}

.order_agg {
  width: 30px;
  height: 30px;
  display: flex;
  background: #000;
  border-radius: 30px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.order_agg:hover,
.order_remove:hover {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}

.order_delete {
  border: none;
  background: #9e0000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.order_remove {
  width: 30px;
  height: 30px;
  display: flex;
  background: var(--basecolor);
  ;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.order_empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #b2b2b2;
  font-weight: bold;
}

.order_empty_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  height: 80vh;
  color: #b2b2b2;
  font-weight: bold;
  margin: 20px;
}

.order_empty_title {
  font-size: 30px;
  color: #cecece;
  font-weight: bold;
}

.order_color>svg {
  filter: grayscale(100%);

}

.order_total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: var(--basecolor);
  ;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.modal_add_order {
  width: 100%;
  color: #FFF;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--basecolor);
  ;
  align-items: center;
  font-weight: 600;
  z-index: 10000;
  animation: slideIn 1s ease-in-out alternate;
}

.modal_add_order__container {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.Hiden {
  visibility: hidden;
  animation: out 1s ease-in-out;
}

.coupon_section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}

/* Estilos para el campo de ingreso del cupón */
.coupon_section input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

/* Estilos para el botón de "Aplicar Cupón" */
.coupon_section button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--basecolor);
  ;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.coupon_section button:hover {
  background-color: var(--background);
  ;
  border-radius: 10px solid var(--basecolor);
  ;
  color: #000;
}

@keyframes out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media screen and (max-width: 450px) {
  .product-container {
    padding: 0;
  }

  .Card {
    width: 127px;
    height: 350px;
  }

  .navegation {
    display: flex;
    flex-direction: column;
    height: 250px;
  }

  .Card_expan {
    border-radius: 43px 43px 0 0;
  }

  .Card_expan_img {
    width: 40%;
  }

  .Card_expan_btn {
    right: 30px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .product-container {

    gap: 0;
  }

  .Card_expan_list li {
    font-size: 14px;
    padding: 10px;
  }

}

@media screen and (max-width: 350px) {
  .Card {
    width: 140px;
    height: 340px;
  }

  .product-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .navegation {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 20px;
  }

  .Card_expan_btn {
    height: 35px;
    width: 35px;
    font-size: 16px;
  }

  .order_products {
    justify-content: center;
    align-items: center;
  }

  .order_btn {
    flex-direction: column;
    gap: 10px;
  }

  .order_header {
    justify-content: center;
    display: flex;
    width: 120px;
    height: 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .order_img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 700px) {
  .order_header {
    margin: 4px;
  }

  .order_btn {
    gap: 10px;
    margin: 2px;
  }

  .order_delete {
    padding: 5px;
    font-size: 14px;

  }

  .order_products {
    padding: 5px;
    height: 200px;
  }

  .coupon_section {
    flex-direction: column;
    gap: 10px;
  }

}