body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E6E6E6;

}
.title{
  text-align: center;
}
.Card_expan_bg{
  background-color: #3333335f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.Card_expan_img{
  width: 50%;

}
@keyframes slideIn {
  0% {
    transform: translateY(100%);

  }
  50% {
    transform: translateY(-2%);

  }
  100% {
    transform: translateY(0);

  }
}

.Card_expan {
  width: 100%;
  height: 70%;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 100px 100px 0 0px;
  animation: slideIn 1s ease-in-out alternate;
  z-index: 1000;
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.hideModal {
 animation: slideOut 1s ease-in-out !important ; 
}

.Card_expan_btn{
  position:absolute;
  right:  100px;
  top: 40px;
  width: 50px;
  font-size: 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 30px;

}
.Card_expan_btn:hover{
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
}
.Card {
  width: 141px;
  height: 290px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

}

.Card:hover {

  scale: 1.01;
}

.Card_Content {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
}
.Card_img_content{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Card_Content img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.Card p,
.Card h1 {
  margin: 12px 0 12px 0;
}

.Card_title {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;

}

.Card_description {
  font-size: 16px;
  color: #CBCBCB;
}

.Card_price {
  font-size: 16px;
  font-weight: bold;
}
.Card_expan_list{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
}
.navegation {
  height: 70px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.51,-0.25, 0.5, 1.3);



}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);

  }
  100% {
    transform: translateX(100%);

  }
}

.navegation__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 13px;
  background: #DDD;
  margin: 3%;
  box-shadow: 4px 1px 7px 0px rgba(18, 1, 1, 0.10);

  
}

.navegation__link:hover{
  background: #000000;
  color: #FFF;
  box-shadow: 4px 1px 7px 0px rgba(18, 1, 1, 0.10);
}
.navegation__link.active {
  background: #000000;
  color: #FFF;
  box-shadow: 4px 1px 7px 0px rgba(18, 1, 1, 0.10);

 }
 .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: black;
  border-radius: 50%;
  
}
.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

 
@media screen and (max-width: 450px) {
  .Card {
    width: 120px
  }
  .navegation{
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .Card_expan{
    border-radius:  43px 43px 0 0;
  }
  .Card_expan_btn{
    right:  50px;
    top: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

}
@media screen and (max-width: 350px) {
  .Card{
    width:120px
  }
  .product-container{
    grid-template-columns: 1fr;
    gap: 0;
  }
  .navegation{
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 20px;
  }
}